
/*RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END RESET*/

/*STRUCT*/
	a:link {text-decoration: none;}
	a:link {color:#193A7A;}
	a:visited {color:#193A7A;}
	a:hover {color:#000000;}
	a:active {color:#193A7A;}
body {
	background: #444;
}
.span {
	width: 100%;
}
.mid-span{
	width: 60%;
	margin: 0 auto;
	background: #FFF;
	box-shadow: 0 0 80px 10px #000;
}
.header {
	display: block;
	background-position: center center;
	color:#000;
	height:40px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-background-size: cover;	
}
.menu {
	height:35px;
	text-align: center;
	list-style-type:none;
	padding: 5px;
	font-size:48px;
	color:#193A74;
	padding-top: 5px;
}
.transition{
	height:140px;
	/*background-position: top;*/
	background-image: url("/img/change2.jpg");
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                -background-size: cover;

}
.content {
	padding: 15px;
	text-align: center;
	background-color:000;
	height: 500px;
	line-height: 30px;
	font-size:20px;
	font-text:sans serif;
	color:#000;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-background-size: cover;
	}
.footer {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #FFF;
	text-align: center;
	font-family: courier new bold;
	font-size: 20px;
	color: #000;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                -background-size: cover;

	}
/*END STRUCT*/